
* {
    margin: 0;
    padding: 0;
}
html {
    height:100%;
}
h1 {
    text-shadow: 1px 2px #999;
}
body {
    background:white;
    height:100%;
    background-image:url("https://cdn.pixabay.com/photo/2013/11/20/09/36/virus-213708_960_720.jpg");
    background-color: #cccccc; /* Used if the image is unavailable */
    /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    background-attachment:fixed;
    /* background-size: cover; /* Resize the background image to cover the entire container */
}
#supercontainer {
    background-color:white;
    width:95%;
    margin-left:2.5%;
}
#footer {
    width:93.5%;
    margin-left:3.2%;

}

.jumbotron {
    /*https://i.picsum.photos/id/1025/4951/3301.jpg*/

    height:100%;
    background-image:url("https://cdn.pixabay.com/photo/2020/05/25/03/37/doctor-5216835_960_720.png");
    background-color: #cccccc; /* Used if the image is unavailable */
   /* You must set a specified height */
    background-position: center; /* Center the image */
    background-repeat: repeat; /* Do not repeat the image */
    backgroun-size:cover;

   /* background-size: cover; /* Resize the background image to cover the entire container */

}

#imagen-efecto {
    display:none;

}
#formulario {
    margin-left:3.5%;
}

.jumbotron p, h1{
    text-align:center;
    color:black;
}
#downjumbotron p{
    text-align:center;
    font-size:24px;
    margin-top:5%;
    margin-bottom:5%;
}
#downjumbotron {
    margin-left:14%;
}
#informacion  {
    margin-top:16%;
}
#seccion1 {
    height:auto;

}
#seccion2 {
    height:auto;
    margin-bottom:10%;


}
#seccion3 {
    height:auto;


}
#form {
    background:white;
    width:30%;
    height:auto;
    padding:1%;

   height:100%;
}
#news{
   height:auto;
   padding-bottom:10%;

}


